.Personal
  .BGImage
    -# = image_tag @user.image.url
    .UserInfo
      .UserInfo__Image
        - if @user.image.url
          = image_tag @user.image.url, class:'pic'
        - else
          - if user_signed_in? && current_user.id
            = link_to edit_user_path(current_user), class: 'TextDecoNoneBlack' do
              %p 写真を設定してください
          - else
            %p 写真未設定
      .UserInfo__Profile
        .UserInfo__Profile--name
          = @user.name
          %span さん
        .UserInfo__Profile--Profile
          - if @user.profile
            = @user.profile
          - else
            - if user_signed_in? && current_user.id
              = link_to edit_user_path(current_user), class: 'TextDecoNoneBlack' do
                %p プロフィールを設定してください
            - else
              プロフィール未設定



.Gallery
  .Gallery__title - Gallery -
  %ul.Gallery__lists
    - @posts.shuffle.each do |post|
      %li.item
        = image_tag post.image.url, class: 'GalleryPicture huwahuwa'
        = link_to post_path(post.id) do
          .caption
            .captionTitle
              Title：
              = post.title
            .captionBy
              by：
              = post.user.name 
              さん
            .captionLike
              いいね数：
              = post.likes.count
            .captionComment
              = post.comment