.Header
  .Header__wrap
    .Header__wrap--logo
      %h1 [ かめこみゅ（仮） ]
    %nav.Header__wrap--menu
      %ul.leftNav
        %li 
          = link_to '#' do
            = icon('fas', 'upload')
            投稿する
        %li [　　検索フォーム　　]
      %ul.RightNav
        %li
          = link_to '#' do
            = icon('fas', 'sign-in-alt')
            ログイン
        %li
          = link_to '#' do
            = icon('fas', 'user-plus')
            会員登録
