.Header
  .Header__wrap
    .Header__wrap--logo
      = link_to '/' do
        %h1= image_tag src="logo.png"
      #About
        = icon('far', 'question-circle')
        What's「カメコミュ」
      .Greeting 
        %p - - -  閲覧ありがとうございます。日々開発・修正中です。  - - -
        %p  [ テストアカウント ]
        %p Eメール：testuser@example.com
        %p パスワード：testuser 
    %nav.Header__wrap--menu
      .BlueLine
      .Navigation
        %ul.LeftNav
          %li
            = form_with url: search_posts_path, local: true, method: :get do |form| 
              = form.text_field :keyword, placeholder: "タイトル、もしくはコメントから", class: "SearchInput"
              = form.label :submit do
                = form.submit "検索", class: "SearchButton"
        %ul.RightNav
          - unless user_signed_in?
            %li.HeaderButton
              = link_to new_user_session_path, class: 'TextDecoNoneWhite' do
                = icon('fas', 'sign-in-alt')
                ログイン
            %li.HeaderButton
              = link_to new_user_registration_path, class: 'TextDecoNoneWhite' do
                = icon('fas', 'user-plus')
                会員登録
          - else
            %dl#acMenu
              %dt
                %li.UserName.HeaderButton
                  = current_user.name
                  %span さん
              %dd
                %li.HeaderButton
                  = link_to "/users/#{current_user.id}", class: 'TextDecoNoneWhite' do
                    マイギャラリー
                %li.HeaderButton
                  = link_to edit_user_path(current_user), class: 'TextDecoNoneWhite' do
                    ユーザー情報編集
                %li.HeaderButton
                  = link_to  destroy_user_session_path, method: :delete, class: 'TextDecoNoneWhite' do
                    ログアウト
            %li.HeaderButton
              = link_to new_post_path, class: 'TextDecoNoneWhite' do
                = icon('fas', 'upload')
                投稿する