.Pickup
  - @posts.first(1).each do |post|
    .Pickup__main--bg
      = image_tag post.image.url, size: "2000x480"
    .Pickup__main
      .MainImage
        = link_to post_path(post.id) do
          = image_tag post.image.url, size: "480x360"
      .MainData
        .MainData--title
          Title
          = post.title
        .MainData--userName
          Photo by: 
          = post.user.name
        <br>
        .MainData--details
          Exif:
          F:
          = post.F
          SS:
          = post.SS
          ISO:
          = post.ISO
        <br>
        .MainData--comment
          Comment: 
          = post.comment
        .MainData--Like
          いいね数：
          = post.likes.count
  .Pickup__sub
    %h1 - Pickup Photos -
    %ul.Pickup__imageList
      - @posts.first(5).each do |post|
        %li.Pickup__image
          = link_to post_path(post.id) do
            = image_tag post.image.url, size: "200x160", class: 'huwahuwa'
