.Pickup
  - @posts.shuffle.first(1).each do |post|
    .Pickup__main--bg
      = image_tag post.image.url, class: 'PickupBg'
    .Pickup__main
      .MainImage
        = link_to post_path(post.id) do
          = image_tag post.image.url, height: "440px"
      .MainData
        .MainData--title
          %span Title :
          = post.title
        .MainData--userName
          %span Photo by :
          = post.user.name
        .MainData--Like
          %span いいね数 :
          = post.likes.count
        <br>
        .MainData--details
          %span Exif:
          <br>
          .FSSISO
            .Exif
              %span F :
              = post.F
            .Exif
              %span SS :
              = post.SS
            .Exif
              %span ISO :
              = post.ISO
        <br>
        .MainData--comment
          %span Comment: 
          <br>
          = post.comment
        
  .Pickup__sub
    %h1 - Pickup Photos -
    %ul.Pickup__imageList
      - @posts.first(5).each do |post|
        %li.Pickup__image
          = link_to post_path(post.id) do
            = image_tag post.image.url, size: "200x160", class: 'huwahuwa SubImages'
