!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MyFirstApp
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application'
  %body
    = render 'layouts/notifications'
    %header
      .Header
        .Header__wrap
          .Header__wrap--logo
            = link_to '/' do
              %h1= image_tag src="logo.png"
          %nav.Header__wrap--menu
            .BlueLine
            .Navigation
              %ul.leftNav
                %li
                  = form_with url: search_posts_path, local: true, method: :get, class: "search-form" do |form| 
                    = form.text_field :keyword, placeholder: "タイトル名で検索", class: "search-input"
                    = form.label :submit do
                      = form.submit "検索", class: "search-btn"
                      
              %ul.RightNav
                - unless user_signed_in?
                  %li.button
                    = link_to new_user_session_path, class: 'TextDecoNoneWhite' do
                      = icon('fas', 'sign-in-alt')
                      ログイン
                  %li.button
                    = link_to new_user_registration_path, class: 'TextDecoNoneWhite' do
                      = icon('fas', 'user-plus')
                      会員登録

                - if user_signed_in?
                  %li
                    = current_user.name
                  %li.button
                    = link_to "/users/#{current_user.id}", class: 'TextDecoNoneWhite' do
                      マイギャラリー
                  %li.button
                    = link_to edit_user_path(current_user), class: 'TextDecoNoneWhite' do
                      ユーザー情報編集
                  %li.button
                    = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'TextDecoNoneWhite'
                  %li.button
                    = link_to new_post_path, class: 'TextDecoNoneWhite' do
                      = icon('fas', 'upload')
                      投稿する

    = yield

    %footer
      .ToTop
        .ToTop__Btn
          ▲ PAGE TOP
        .BlueLine
      .Footer
        .MiniLogo
          = image_tag src="whitelogo.png"
      .Copyright
        Copyright (c) TNK company Inc. All Rights Reserved.
